:root {
  --primary-color: black;

}

body {
  font-family: "Secular One", sans-serif;
}

.container {
  max-width: 700px;
}

.degrees {
  position: relative;
  bottom: 150px;
  left: 90px;
  font-size: 60px;
}

.deg-celsius {
  position: relative;
  bottom: 190px;
  left: 90px;
  font-size: 20px;
 
}


.todays-weather-description {
  position: relative;
  bottom: 50px;
  right: 20px;
  font-size: 50px;
  line-height: 10px;
  width: 120px;
}

#forecast-icon {
  width: 60px;
  text-align: center;
}



ul.features {
  list-style: none;
  position: relative;
 
  left: 300px;
  font-size: 17px;
}

#temp {
  list-style: none;
  display: inline-block;
  font-size: 20px;
  padding: 0 0 20px;
}

.form-control {
  width: 500px;
  max-width: 200%;
  font-size: 20px;
}

.btn {
  padding: 10px;
  width: 150px;
  box-shadow: 3px  4px 0 #323131;;
  }

.link {
  color: var(--primary-color);
  padding-left: 20px;

}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.btn-1 {
  position: relative;
  left: 0px;
  top: 10px;
  background: var(--primary-color);
  border-color: var(--primary-color);
  
}

.bar {
  position: fixed;
}
.card {
  padding: 30px;
  border: solid 5px ;
  border-color: var(--primary-color);
  border-radius: 50px;
}

.city {
  font-size: 40px;
  text-align: right;
padding: 20px;
  left: 300px;
  margin-top: 20px;
}

.today {
  font-size: 20px;
  text-transform: capitalize;
  padding: 10px;
}

.weather-forecast {
  margin-top: -150px;
}

.forecast-dates {
 color: var(--primary-color);
  text-shadow:  0.3px  0.3px 0 #020202;
}

.forecast-temp-min {
 color:var(--primary-color);
 font-size: smaller;
 text-shadow:  0.3px  0.3px 0 #020202;
 
}

.forecast-temp-max {
   font-size: smaller;
}

.col-2 {
  font-size: 20px;
  text-align: center;
}

