body {
  font-family: "Secular One", sans-serif;
}

.sun {
  position: relative;
  font-size: 80px;
}

.deg {
  position: relative;
  bottom: 30px;
  left: 60px;
  font-size: 60px;
  line-height: 10px;
}

.deg-celcius-farenheit {
  position: relative;
  bottom: 60px;
  left: 60px;
  font-size: 20px;
  line-height: 10px;
  text-decoration: none;
  color: black;
}
.todays-weather-description {
  position: relative;
  bottom: 30px;
  right: 0px;
  font-size: 50px;
  line-height: 10px;
}

.descript {
  position: relative;
  bottom: 70px;
  left: 100px;
  font-size: 30px;
}

#humidity {
  display: inline-block;
}

ul.features {
  list-style: none;
  position: relative;
  bottom: 100px;
  left: 250px;
  font-size: 17px;
}

#temp {
  list-style: none;
  display: inline-block;
  font-size: 20px;
  padding: 0 0 20px;
}

.form-control {
  width: 500px;
  max-width: 200%;
  font-size: 20px;
}

.btn {
  padding: 10px;
  width: 150px;
}

.btn-current {
  background-color: rgb(68, 179, 68);
  color: white;
  border: rgb(68, 179, 68);
  position: relative;
  left: 300px;
  bottom: 30px;
}

.link {
  color: rgb(125, 171, 200);
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.btn-1 {
  position: relative;
  left: 0px;
  top: 10px;
}

.btn-current:hover {
  background-color: rgb(120, 197, 120);
}

.bar {
  position: fixed;
}
.card {
  padding: 30px;
  border: solid 5px black;
  border-radius: 50px;
}

.city {
  font-size: 40px;
  text-align: right;
  padding: 30px;
  left: 300px;
}

.today {
  font-size: 17px;
}

.col-2 {
  font-size: 20px;
  text-align: center;
  padding: 0;
}

.fa-sun {
  color: orange;
}

.fa-cloud-sun {
  color: rgb(0, 136, 255);
}

.fa-wind {
  color: grey;
}
